<header>
	<h1><a href="/">Water Activities</a></h1>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/pastForecasts">Past Forecasts</a></li>
			<li><a href="/tipsAndRules">Tips and Rules</a></li>
		</ul>
	</nav>
</header>