{{> header}}

<main>
	<div class="page-title-and-date">
		<h2>Tips and Rules</h2>
	</div>
	
	<p>Activity ratings provided by this site are aggregate for the whole Oregon coast only and do not take every aspect of your safety or your experience into account. Research more about what is safe for your experience level when planning to do activities that involve the ocean.</p>
	<h3>Swimming</h3>
	<p>Swimming will often be labeled in red on this site because the water is usually very frigid on the Oregon coast. Swimming can also be dangerous due to riptides and sinkholes. That being said, it can also be a fun activity to cool down in the warmer months.</p>
	<h3>Surfing</h3>
	<p>Surfing during morning high tides will likely be the best, but there are other conditions that this site does not yet take into account that can affect your experience. You should research the area and the weather conditions that you plan to surf in and consider your experience level before attempting to surf somewhere new. You should also wear a wet or dry suit if you plan on surfing on the Oregon coast.</p>
	<h3>Scubaing</h3>
	<p>Scubaing will be the easiest during slack tide, the period of about an hour around high and low tides where the water does not advance or retreat very much, as you will not be pushed around by the currents as much. You should also consider wearing a wet or dry suit if you plan to scuba on the Oregon coast.</p>
	<h3>Crabbing</h3>
	<p>Crabbing is the best during the months that have an "r" in their names. As of 2022, however, crabbing is banned from mid-October to the end of November. You must also purchase a liscence from <a href="https://myodfw.com/">the Oregon Department of Fish and Wildlife</a> to be eligible to go crabbing.</p>
	<h3>Fishing</h3>
	<p>Ocean fishing is good year-round in Oregon, but the best time to go is when you won't get frozen by the sea spray.</p>
	<h3>Clamming</h3>
	<p>Clamming is good for most of the year, but is banned on the beaches from mid-July to the end of September. You can still go clamming in the bays during this time. You must also purchase a liscence from <a href="https://myodfw.com/">the Oregon Department of Fish and Wildlife</a> to be eligible to go clamming.</p>
</main>